

.select2-container .select2-selection--single {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-clip: padding-box !important;
    background-color: var(--geeks-input-bg) !important;
    border: var(--geeks-border-width) solid var(--geeks-input-border) !important;
    border-radius: var(--geeks-border-radius) !important;
    color: var(--geeks-body-color) !important;
    display: block !important;
    font-size: .875rem !important;
    font-weight: 400 !important;
    line-height: 1.6 !important;
    padding: .5rem 1rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    width: 100% !important;
    height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: .875rem !important;
    font-weight: 400 !important;
    line-height: 1.6 !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
    width: 100% !important;
}

.meta-title {
    font-size: 20px;
    color: #1a0dab;
}

.meta-url {
    font-size: 14px;
    color: #006621;
    margin-bottom: 8px;
}

.meta-description {
    font-size: 16px;
    color: #545454;
    margin-bottom: 8px;
}
